*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

.image-content{
    background-image: url('../images/apple-pie.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: white;
    font-size: 6rem;
    font-weight: normal;
}

hr {
    margin: 3rem
}

.description-content{
    margin: 4rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: justify;
}
.section-img {
    width: 50%;
    margin-top: 3rem;
}
.section-content{
    margin: 4rem 7rem;
}
.section-title{
    font-size: 1.6rem;
    font-weight: normal;
    margin: 1rem 0;
}
.section-list {
    margin: 1.5rem;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.6rem;
}
.ingredients-list {
    list-style-type: '- ';
}
.ingredients-img-box{
    display: flex;
    justify-content: center;
}